<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Kaisei+Opti&display=swap" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
    <title>Fruit recognition system</title>
</head>

<body>
    <div class="g1_2">
        <div class="g101_2"></div><span class="g101_3">Welcome to fruit recognition system!</span>
        <div class="h103_2"></div>
        <div class="h103_3"></div>
        <div class="h103_4"></div>
        <button class="h103_5" onclick="openFilePicker_one()">One-by-one prediction</button>
        <button class="h103_6" onclick="openFilePicker_batch()">Batch prediction</button>
        <button class="h103_7" onclick="redirectToOpenCamera()">Open camera</button>
        <script>
            function redirectToOpenCamera() {
                window.location.href = "{{ url_for('camera_capture') }}";
            }
            function openFilePicker_one() {
                const fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.accept = 'image/*';
                fileInput.style.display = 'none';
          
                fileInput.addEventListener('change', function() {
                  const file = this.files[0];
                  uploadFile(file);
                
                });
                document.body.appendChild(fileInput);
                fileInput.click();
            }
          
            function uploadFile(file) {
                const formData = new FormData();
                formData.append('file', file);
                
                fetch('/upload', {
                    method: 'POST',
                    body: formData
                })
                .then(response => {
                    if (response.ok) {
                        console.log('File uploaded successfully.');
                    } else {
                        console.error('Error uploading file.');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
            function openFilePicker_batch() {
                const fileInput = document.createElement('input');
                fileInput.type = 'file';
                fileInput.accept = 'image/*';
                fileInput.multiple = true;
                fileInput.style.display = 'none';
          
                fileInput.addEventListener('change', function() {
                  const files = this.files;
                  if (files.length <= 10) {
                    uploadFiles(files);
                  } else {
                    alert('You can upload a maximum of 10 files.');
                  }
                });
          
                document.body.appendChild(fileInput);
                fileInput.click();
            }
          
            function uploadFiles(files) {
                const formData = new FormData();
          
                for (let i = 0; i < files.length; i++) {
                  const file = files[i];
                  formData.append('files[]', file);
                }
                
                fetch('/upload_batch', {
                method: 'POST',
                body: formData
                })
                .then(response => {
                if (response.ok) {
                    console.log('Files uploaded successfully.');
                    window.location.href = "{{ url_for('batch_prediction_result') }}"; // Redirect to batch_prediction_result
                } else {
                    console.error('Error uploading files.');
                }
                })
            .catch(error => {
                console.error('Error:', error);
});
            }
        </script>
    </div>
</body>

</html>