<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SAIT - Machine Learning Project</title>
	<link href="static/css/styles.css" rel="stylesheet">
	<script src="static/javascript/script.js"></script>
</head>
<body>

   <section id="header">
        <div id="header-content">
            <h1>Machine Learning fruit quality (Rotten and healthy) detection.</h1>
            <p>For strawberries, peaches and pomegranates.</p>
        </div>
    </section>
    
    <section id="section2">
        <p>According to <a href="https://www.wfp.org/stories/5-facts-about-food-waste-and-hunger">WFP</a>, all the food produced but never consumed would be enough to feed two billion people, which represents more than double the number of malnourished people worldwide.</p>
        <p>Automating production, storage and distribution processes can help reduce waste and hunger.</p>
    </section>
    
    <section id="section3">
        <p>This project provides 3 verification options: individual image, group of images and camera capture.</p>
    </section>
    
    <section id="section4">
        <div class="album">
			<div class="home-image-container">
				<a href="javascript:openFilePicker_one();">
					<img src="/static/images/individual.jpg" alt="Individual Image">
					<p>Individual Image</p>
				</a>
			</div>
			<div class="home-image-container">				
				<a href="javascript:openFilePicker_batch();">
					<img src="/static/images/group.jpg" alt="Group of Images">
					<p>Group of Images</p>
				</a>
			</div>
			<div class="home-image-container">	
				<a href="javascript:redirectToOpenCamera();">
					<img src="/static/images/camera.jpg" alt="Camera Capture">
					<p>Camera Capture</p>
				</a>
			</div>
        </div>
    </section>
    
    <section id="section5">
        <p>"Coming together is a beginning. Keeping together is progress. Working together is success. " ~ Henry Ford</p>
    </section>
    
    <section id="section6">
        <div class="album">
			<div class="home-image-container">	
				<div>
					<a href="https://www.linkedin.com/in/kathya-castillo/">
						<img src="/static/images/kathya.jpg" alt="Kathya Castillo">
						<p>Kathya Castillo</p>
					</a>
				</div>
			</div>
			<div class="home-image-container">	
				<div>
					<a href="https://www.linkedin.com/in/uyenthiphan/">
						<img src="/static/images/thi.jpg" alt="Thi Phan">
						<p>Thi Phan</p>
					</a>
				</div>
			</div>
			<div class="home-image-container">	
				<div>
					<a href="https://www.linkedin.com/in/gcfujita/">
						<img src="/static/images/gabriel.jpg" alt="Gabriel C. Fujita">
						<p>Gabriel C. Fujita</p>
					</a>
				</div>
			</div>
			<div class="home-image-container">	
				<div>
					<a href="https://www.linkedin.com/in/riverdemorais/">
						<img src="/static/images/	river.png" alt="River de Morais e Silva">
						<p>River de Morais e Silva</p>
					</a>
				</div>
			</div>
        </div>
    </section>
</body>
</html>