* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
/* general style*/
.g1_2 {
  width: 100%;
  height: 710px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.g101_2 {
  width: 100%;
  height: 160px;
  background: url("../images/v101_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.g101_3 {
  width: 650px;
  color: rgba(70,157,48,1);
  position: absolute;
  top: 188px;
  left: 33px;
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.g103_4 {
  width: 336px;
  height: 55px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 620px;
  left: 257px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.g103_6 {
  width: 336px;
  height: 55px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 620px;
  left: 831px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/* home page style*/
.h103_2 {
  width: 250px;
  height: 250px;
  background: url("../images/v103_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 155px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
}
.h103_3 {
  width: 250px;
  height: 250px;
  background: url("../images/v103_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 600px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
}
.h103_4 {
  width: 250px;
  height: 250px;
  background: url("../images/peaches.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 1050px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
}
.h103_5 {
  width: 300px;
  height: 55px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 620px;
  left: 135px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.h103_6 {
  width: 300px;
  height: 55px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 620px;
  left: 580px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.h103_7 {
  width: 300px;
  height: 55px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 620px;
  left: 1050px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/*one time prediction start style*/
.s103_2 {
  width: 300px;
  height: 300px;
  background: url("../images/camera-265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 257px;
  overflow: hidden;
}
.s103_3 {
  width: 300px;
  height: 300px;
  background: url("../images/photo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 831px;
  overflow: hidden;
}
/*camera capture style*/
.v101_2 {
  width: 100%;
  height: 130px;
  background: url("../images/v101_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative; 
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v101_3 {
  width: 650px;
  color: rgba(70,157,48,1);
  position: absolute;
  top: 130px;
  left: 33px;
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 30px;
  opacity: 1;
  text-align: left;
}
.v103_2 {
  width: 450px;
  height: 450px;
  background: url("../images/camera-265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 450px;
  overflow: hidden;
}
.v103_4 {
  width: 280px;
  height: 50px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 650px;
  left: 550px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
/* one prediction result style */
.r101_1 {
  width: 100%;
  height: 140px;
  background: url("../images/v103_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.r101_2 {
  width: 650px;
  color: rgba(70,157,48,1);
  position: absolute;
  top: 150px;
  left: 33px;
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.r102_1 {
  width: 360px;
  height: 360px;
  background: url("../images/v103_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 148px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
}
.r_uploaded-image {
  width: 360px;
  height: 360px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 220px;
  left: 148px;
  border-top-left-radius: 180px;
  border-top-right-radius: 180px;
  border-bottom-left-radius: 180px;
  border-bottom-right-radius: 180px;
  overflow: hidden;
}

.r_uploaded-image.with-background {
  background-image: url("../images/default_bg.jpg"); /* Default background image */
}
.r102_2 {
  width: 70px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 704px;
  font-family: Kaisei Opti;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.r102_3 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 704px;
  font-family: Kaisei Opti;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.r102_4 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 320px;
  left: 1000px;
  font-family: Kaisei Opti;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.r102_5 {
  width: 127px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 400px;
  left: 1000px;
  font-family: Kaisei Opti;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.r103_1 {
  width: 237px;
  height: 55px;
  color: rgba(255,255,255,1);
  background: rgba(70,157,48,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  position: absolute;
  top: 570px;
  left: 800px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v104_1 {
  width: 47px;
  height: 43px;
  background: url("../images/v103_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 676px;
  left: 613px;
  overflow: hidden;
}
.v104_2 {
  width: 135px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 676px;
  left: 678px;
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.r105_1 {
  width: 336px;
  height: 55px;
  color: rgba(255,255,255,1);
  font-family: Kaisei Opti;
  font-weight: Regular;
  font-size: 20px;
  background: rgba(70,157,48,1);
  opacity: 1;
  position: absolute;
  top: 550px;
  left: 750px;
  border: 0px solid rgba(255,255,255,1);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.r106_1 {
  width: 46px;
  height: 49px;
  background: url("../images/v123_152.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 150px;
  right:  80px;
  overflow: hidden;
}
/* batch prediction result style*/
.table-format {
  width: 80%;
  border-collapse: collapse;
  position: absolute;
  top: 230px;
  left: 150px
}

.table-format th, .table-format td {
  border: 1px solid rgb(255, 255, 255);
  padding: 8px;
  text-align: center;
}

thead {
  background-color: rgba(70,157,48,1);
  color: white;
}

img {
  max-width: 100px;
  max-height: 100px;
  width: auto;
  height: auto;
}

tbody tr:nth-child(odd) {
  background-color: #fff;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

.table-format {
  width: 80%;
  position: absolute;
  top: 500;
  left: 50;
  margin-top: 20px;
}
.small-cell {
  width: 200px; /* Adjust as needed */
}

.big-cell {
  width: 250px; /* Adjust as needed */
}