body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}

#header {
	background-image: url('/static/images/header.jpeg');
	background-size: cover;
	background-position: center;
	color: white;
	padding: 100px;
	text-align: center;
	position: relative;
}

#header-content {
	position: relative;
	z-index: 1; 
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
}

#section2 {
	background-color: white;
	color: #333;
	padding: 50px;
	text-align: center;
}

#section2-light {
	background-color: #f2f2f2;
	padding: 50px;
	display: flex;
	align-items: center;
}

#section2-light .left {
	flex: 1;
	padding: 20px;
}

#section2-light .right {
	flex: 1;
	padding: 20px;
}

#section2-light img {
	width: 100%;
	height: auto;
	max-width: 300px; 
	display: block;
	margin: 0 auto;
}

#section2-table {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ccc;
	padding: 8px;
}

th {
	background-color: #333;
	color: white;
}

.table-image {
	width: 50px;
	height: auto;
}

tr:nth-child(even) {
	background-color: #ddd;
}

#section2-camera {
	background-color: #f2f2f2;
	padding: 50px;
	text-align: center;
}

#camera-message {
	font-size: 24px;
	margin-bottom: 20px;
}

#image-preview {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  overflow: hidden;
}

#capture-button {
	padding: 10px 20px;
	background-color: #333;
	color: white;
	border: none;
	cursor: pointer;
}

#capture-button:hover {
	background-color: #555;
}

#section3 {
	background-color: #333;
	color: white;
	padding: 50px;
	text-align: center;
}

#section3-dark {
	background-color: #333;
	color: white;
	padding: 50px;
	text-align: center;
}

.carousel {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.carousel img {
	width: 100px; 
	height: 100px; 
	margin-bottom: 10px;
}
        
#section4 {
	background-color: white;
	color: #333;
	padding: 50px;
	text-align: center;
}

#section5 {
	background-color: #333;
	color: white;
	padding: 50px;
	text-align: center;
}

#section6 {
	background-color: white;
	color: #333;
	padding: 50px;
	text-align: center;
}

.album {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}

.album img {
	width: 200px; 
	height: 200px; 
	margin-bottom: 10px;
}

.image-container a {
	text-decoration: none; 
	color: white; 
	background-color: rgba(0, 0, 0, 0.5);
}

.image-container:hover img {
	opacity: 0.7; 
}

.home-image-container a {
	text-decoration: none; 
	color: black; 
	background-color: rgba(0, 0, 0, 0.5);
}

.home-image-container:hover img {
	opacity: 0.7; 
}

